.box{
    width: 100px;
    height: 100px;
    position: relative;
    background: red;
    animation-name: test;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes test{
    0%{background: red; left: 0px; top: 0px;}
    25%{background: blue; left: 300px; top: 0px;}
    50%{background: green; left: 300px; top: 300px;}
    75%{background: yellow; left: 0px; top: 300px;}
    100%{background: grey; left: 0px; top: 0px;} 

}
.box2{
    width: 100px;
    height: 100px;
    position: relative;
    background: red;
    animation-name: test2;
    animation-duration: 5s;
    animation-direction: reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes test2{
    0%{background: red; left: 0px; top: 0px;}
    25%{background: blue; left: 300px; top: 0px;}
    50%{background: green; left: 300px; top: 300px;}
    75%{background: yellow; left: 0px; top: 300px;}
    100%{background: grey; left: 0px; top: 0px;} 

}